.player-selection-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(218, 218, 218, 0.808);
  width: 80vh;
  height: 80vh;
  border-radius: 10px;
}

.close-player-modal-button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: #21c493;
  color: #fff;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
